@model EventSquared.Models.allEventViewModel
@using Microsoft.AspNet.Identity
@using EventSquared.Models

<head>
    <title>Event² - @ViewBag.Title</title>
    @Styles.Render("~/Content/specificpage.css")
</head>

@{
    ViewBag.Title = "Dashboard";
}

<div class="col-md-8 nopad">
    <h1 style="color:#3B5998">@ViewBag.Title</h1>
    <h2>Your Events</h2>

    @foreach (var item in Model.yourEvents)
    {
        <div class="eventBox">
            <div class="eventBox_date"><b style="color:#D3622A">For</b> @Html.DisplayFor(modelItem => item.StartDate)</div>
            <div class="eventBox_title">@Html.DisplayFor(modelItem => item.Title)</div>
            <div class="eventBox_dtitle">@Html.DisplayNameFor(model => item.Description)</div>
            <div class="eventBox_description">@Html.DisplayFor(modelItem => item.Description)</div>
            <div>@Html.ActionLink("Details", "Details", "Events", new { id = item.Id }, new { @class = "btn-primary btn-new eventBox_btn" })</div>
        </div>
    }

    <div style="display:inline-block">
        <h2>Subscribed To Events</h2>

        @foreach (var item in Model.subscribedEvents)
        {
            <div class="eventBox">
                <div class="eventBox_date"><b style="color:#D3622A">For</b> @Html.DisplayFor(modelItem => item.StartDate)</div>
                <div class="eventBox_title">@Html.DisplayFor(modelItem => item.Title)</div>
                <div class="eventBox_dtitle">@Html.DisplayNameFor(model => item.Description)</div>
                <div class="eventBox_description">@Html.DisplayFor(modelItem => item.Description)</div>
                <div>@Html.ActionLink("Details", "Details", "Events", new { id = item.Id }, new { @class = "btn-primary btn-new eventBox_btn" })</div>
            </div>
        }
    </div>
</div>

<div class="col-md-4 nopad">
    <h2>Square Feed</h2>

    <div class="scrollfeed">
        @foreach (var item in Model.allSquares)
        {
            <div class="squareBox">
                <div class="squareBox_ctime">Updated: @Html.DisplayFor(modelItem => item.CurrentTime)</div>
                <div class="squareBox_etitle">@Html.DisplayFor(modelItem => item.Title)</div>
                <div class="squareBox_title">Event - @Html.DisplayFor(modelItem => item.Event.Title)</div>
                <div class="squareBox_title">Begins: @Html.DisplayFor(modelItem => item.StartTime) Ends: @Html.DisplayFor(modelItem => item.EndTime)</div>
                <div class="squareBox_title">Location: @Html.DisplayFor(modelItem => item.Location)</div>
                <div class="squareBox_dtitle">@Html.DisplayNameFor(model => item.Description)</div>
                <div class="squareBox_description">@Html.DisplayFor(modelItem => item.Description)</div>
            </div>
        }
    </div>
</div>