@model IEnumerable<EventSquared.Models.Event>

@{
    ViewBag.Title = "Your Events";
}

<h2>Your Events</h2>

@foreach (var item in Model)
{
    <div class="eventBox">
        <div class="eventBox_date">@Html.DisplayFor(modelItem => item.StartDate)</div>
        <div class="eventBox_title">@Html.DisplayFor(modelItem => item.Title)</div>
        <div class="eventBox_dtitle">@Html.DisplayNameFor(model => model.Description)</div>
        <div class="eventBox_description">@Html.DisplayFor(modelItem => item.Description)</div>
        <div>@Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn-primary btn-new eventBox_btn" })</div>
    </div>
}