@using EventSquared.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in here";
}

<head>
    <title>Event² - @ViewBag.Title</title>
    @Styles.Render("~/Content/logincss.css")
</head>

<div class="row">
    <div class="col-md-8 login-col-8">
        <div class="loginHeader">@ViewBag.Title.</div>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10 login-col-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 login-col-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default btn-login" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                            @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account", new { }, new { @class = "forgotpass" })
                        </div>
                    </div>
                </div>
            }
        </section>
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}